table tr{
    height: 35px;
}
.btn{
    padding: 5px 20px;
    border-radius: 3px;
    margin: 5px;
    text-decoration: none;
    cursor:pointer;
}

.btn-danger{
    background-color: red;
    border: 1px solid red;
    color: #fff;
}

.btn-primary{
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    color: #fff;
}

.btn:hover{
    opacity:0.8;
}
.text-danger{
    color: red;
    font-weight: bold;
}
.seats_wrap{
    margin: 20px 0;
}
.item_seat{
    padding: 5px;
    margin: 5px;
    width:40px;
    height: 40px;
    border-radius: 25px;
    background-color: green;
    color: #fff;
    cursor:pointer;
    display: inline-block;
}
.item_seat:hover{
    opacity: 0.8;
}
.item_seat div{
    text-align: center;
    margin-top: 10px;
}